/* 
    General Styles
*/
.square {
	height: 3rem;
	width: 3rem;
}
.infoX {
	height: 2rem;
	width: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
.infoY {
	height: 3rem;
	width: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
.fitY {
	display: flex;
	margin-left: 1rem;
}
.fitX {
	display: flex;
	margin-left: 3rem;
}
